*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    
}

h1{
    margin: 16px 0px;
    display: block;
}

form{
    display: flex;
    justify-content: center;
}

input,
button,
p{
    padding: 6px;
    margin: 8px 0px;
    display: block;
    width: 120px;
}

button{
    background-color: rgb(89, 89, 250);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.resultMessage{
    display: none;
}

.error{
    background-color: red;
    color: #fff;
    padding: 8px;
    display:block;
    text-align: center;
}

.success{
    background-color: green;
    color: #fff;
    padding: 8px;
    display:block;
    text-align: center;
}